@model UpdateCandidateViewModel

@{
    ViewData["Title"] = "Update Candidate";
}

<section>
    <div class="container w-75 container-shadow bg-white p-4">
        <h3 class="mb-3">Update Candidate</h3>
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-4 g-3">
                <div class="col-12">
                    <label class="form-label">Candidate ID</label>
                    <input type="text" class="form-control" asp-for="CandidateId" readonly>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label class="form-label">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label class="form-label">Middle Name</label>
                    <input type="text" class="form-control" asp-for="MiddleName">
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label class="form-label">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6">
                    <label class="form-label">Candidate Position<span class="text-danger">*</span></label>
                    <select class="form-select" asp-for="CandidatePositionId">
                        <option class="dropdown-item" value=""></option>
                        @foreach (var position in ViewBag.CandidatePositions)
                        {
                            <option value="@position.CandidatePositionId">@position.CandidatePositionName</option>
                        }
                    </select>
                    <span asp-validation-for="CandidatePositionId" class="text-danger"></span>
                </div>
                <div class="col-lg-8">
                    <label class="form-label">Party<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" asp-for="Party">
                    <span asp-validation-for="Party" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-4 g-3">
                <div class="col-md-6">
                    <label class="custom-file-label form-label">Upload Profile Picture</label>
                    <input type="file" asp-for="Photo" class="form-control custom-file-input">
                </div>
            </div>
            @*            <div class="mb-3">
            <p>Already have an account? <a class="text-decoration-none" asp-controller="Account" asp-action="Login">Login here</a></p>
            </div>*@

            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-secondary" asp-controller="Admin" asp-action="ViewCandidates">Back</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
