@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3" id="home">
    <div>
        <p class="text text-dark">ONLINE VOTING SYSTEM</p>
    </div>
    <div id="image">
        <img src="~/img//home.svg" />
    </div>
</div>
